<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll test">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="{{ '/#page-top' | prepend: site.baseurl }}">
        {% include logo.svg %}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="{{ '/#projekte' | prepend: site.baseurl }}">Tanzprojekte</a>

          <ul class="sub-nav">
            <li class="sub-item">
              <a href="{{ '/projekte/moving-moods' | prepend: site.baseurl }}">Moving Moods</a>
            </li>
            <li class="sub-item">
              <a href="{{ '/projekte/getanzte-vesper' | prepend: site.baseurl }}">Getanzte Vesper</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="page-scroll" href="{{ '/#vermittlung' | prepend: site.baseurl }}">Tanzvermittlung</a>

          <ul class="sub-nav">
            <li class="sub-item">
              <a href="{{ '/unterricht' | prepend: site.baseurl }}">Unterricht</a>
            </li>
            <li class="sub-item">
              <a href="{{ '/tanz-in-schulen' | prepend: site.baseurl }}">Tanz in Schulen</a>
            </li>
            <li class="sub-item">
              <a href="{{ '/workshops' | prepend: site.baseurl }}">Workshops</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="page-scroll" href="{{ '/#about' | prepend: site.baseurl }}">Zur Person</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
