.event-infos {
  margin-bottom: .7rem;
}
.event-info {
  background: #2c2cbb;
  color: #ddd;
  width: 20em;
  padding: .5em 1.5em;
  border-radius: .2em;
  padding-left: 4em;
  position: relative;
  float: left;
  margin-right: .7rem;
  margin-bottom: .7rem;

  > h3 {
    color: #fff;
    margin-bottom: .2em;
  }
  > .date, > .venue {
    display: block;
    line-height: 1.5;
  }
  > i {
    position: absolute;
    left: 0;
    margin-top: .5rem;
    line-height: 1em;
    width: 4rem;
    text-align: center;
    font-size: 2em;
    color: #fff;
  }
}
.ticket-info {
  @extend .text-muted;

  font-size: .8em;
  line-height: 1.2;
  margin-top: 1.2em;
}


.past-events {
  .location {
    display: block;
    @extend  .text-muted;
  }

  > section + section {
    margin-top: 1.5rem;
  }
}
