
::-moz-selection {
  text-shadow: none;
  background: color(primary);
  color: color(dance-snow);
}
::selection {
  text-shadow: none;
  background: color(primary);
  color: color(dance-snow);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: color(primary);
}
