.bg-light-gray {
  background-color: #f7f7f7;
}

.bg-darkest-gray {
  background-color: #222;
}

body > section {
  padding: 3rem 0;

  @media(min-width:768px) {
    padding: 6.5rem 0;
  }
}

section h2.section-heading {
  margin-top: 0;
  margin-bottom: 0.85rem;
  font-size: 2.3rem;
}

section h3.section-subheading {
  margin-bottom: 4.3rem;
  text-transform: none;
  font-family: $serifFont;
  font-size: 1rem;
  font-weight: 400;
}

#vermittlung p {
  font-size: .8rem;
}

.fotorama__wrap {
  margin: 1.6rem auto;
  background-color: #111;
}
