---
layout: default
title: Landesgartenschau 2023 in Fulda
permalink: /projekte/landesgartenschau-2023/
entries:

- title: Eröffnung

- title: EinBlickInDieWiese
  dates:
  - date: 2023-05-06 12:30
    location: WasserGarten
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/einblickindiewiese
    description: |
      Die Kunstensembles Jahrgangsstufe 6 der Marienschule lassen ein lyrisches „Wiesen-Stück“ aus Tanz, Kunst, Musik und Theater erwachen – zu Poesie, den Klängen der Grasharfe, verspielte Blütenträume aus Tanz und Farbdüften.

- title: "Glow ‘n‘ Bloom"
  dates:
  - date: 2023-06-03 12:00
    location: Parkbühne
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/glow-n-bloom

- title: "Swingin‘ Mary"
  dates:
  - date: 2023-06-04 10:30
    location: Parkbühne
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/swingin-mary
    description: |
      Die Marienschule Fulda präsentiert sich singend, schwingend, tanzend und musizierend.
      Ein buntes Programm zum Erfreuen und Mitschnipsen.

- title: "Ein Sommernachtstraum"
  dates:
  - date: 2023-06-29 18:00
    location: Sparkassen-Kulturbühne
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/feierabend-mit-sommernachtstraum
    description: |
      Frei nach William Shakespeare

      In dem Wald nahe Athen wachen die Figuren in einem Alptraum auf - so passiert's, wenn die Regie ein Kobold übernimmt…
      Wer liebt nun eigentlich wen? Alles verwechselt, alles absurd, Liebe und Unglück ein Synonym?… Und ist der Eselskopf im Spiel nur ein Spiegelbild unserer Phantasie oder nicht doch eher knallharte Selbsterkenntnis? Mit ein bisschen Zauberei kann man eigentlich jeden lieben.

      Iszeniert und gespielt von der Q12 und dem WPU 10  Darstellendes Spiel der Marienschule Fulda in Zusammenarbeit mit dem Kunstkurs der Q12.

- title: "Der blühende Traum"
  dates:
  - date: 2023-07-15 11:30
    location: Parkbühne
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/der-bluehende-traum
    description: |
      Ballettstück

      Ein Ballett der Schülerinnen von "tanzblick. Freies Tanztheater" im Rahmen der VHS Kurse der Stadt Fulda in Kooperation mit der Marienschule, Fulda.
      Ob Gänseblümchen oder Vergissmeinnicht, Rose oder Ranke, alle werden eingebunden in einen duftenden, tänzerischen Strauß - ein Traum von verspielter Leichtigkeit und farbstarker Impression.

- title: "Vielfalt Bewahren"
  dates:
  - date: 2023-08-05 19:00
    location: WasserGarten
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/vielfalt-bewahren-1
    description: |
      Ballettstück

      Ein Ballett der Schülerinnen von "tanzblick. Freies Tanztheater" im Rahmen der VHS Kurse der Stadt Fulda in Kooperation mit der Marienschule, Fulda.
      Ob Gänseblümchen oder Vergissmeinnicht, Rose oder Ranke, alle werden eingebunden in einen duftenden, tänzerischen Strauß - ein Traum von verspielter Leichtigkeit und farbstarker Impression.
  - date: 2023-09-09 19:00
    location: KulturGarten
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/vielfalt-bewahren
    description: |
      Tanzblick. Freies Tanztheater und Stimmkunst Klang Tanz

      Die Vogelwelt am Aueweiher und Tanz. Bewegtes Bild, bewegte Leinwand, bewegte Emotion.
      https://youtu.be/8KzvGCpS0y0

      Präsentiert von Dorothée Bretz und Laila Clematide

- title: "Tänze aus aller Welt"
  dates:
  - date: 2023-07-16 11:00
    location: WasserGarten
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/taenze-aus-aller-welt
    description: |
      Zum Zusehen und Mitmachen

      Die Schülerinnen der Jahrgangsstufen 5 - 7 der Marienschule Fulda feiern Tänze aus den verschiedenen Erdteilen.
      Zum Schauen und Mitmachen für Groß und Klein!

- title: "Parkbank"
  dates:
  - date: 2023-05-01 11:00
    location: Himmelszelt
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/parkbank
    description: |
      Zwei Freundinnen (Dorothée Bretz, Laila Clematide) treffen sich auf einer Parkbank und das Leben der beiden wird aufgeblättert in einer assoziationsreichen Bewegungssprache: Klatsch, kleine Zickereien, Weltpolitik und Machtspielchen, aber auch Trost beim anderen in einsamen Momenten sind die Themen, die in diesem kurzweiligen, komödiantischen Tanztheaterstück aus dem Handtäschchen gezogen werden.
  - date: 2023-07-28 11:00
    location: Himmelszelt
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/parkbank-1
  - date: 2023-07-29 11:00
    location: Himmelszelt
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/parkbank-2
  - date: 2023-07-30 11:00
    location: Himmelszelt
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/parkbank-3
  - date: 2023-08-04 11:00
    location: Himmelszelt
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/parkbank-4
  - date: 2023-08-05 11:00
    location: Himmelszelt
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/parkbank-5
  - date: 2023-08-06 11:00
    location: Himmelszelt
    href: https://www.lgs-fulda-2023.de/veranstaltungen/detail/parkbank-6
---

<header class="cover cover-light">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Landesgartenschau</div>
      <div class="intro-lead-in">2023 in Fulda</div>
    </div>
  </div>
</header>

<section id="aktuell">
  <div class="container">
    <div class="row">
      {% for item in page.entries %}
        <div class="col-lg-4 text-center aktuell-liste">
          <div class="item">
            <h4>{{ item.title }}</h4>
            <img src="{{ item.title | slugify | prepend: '/projekte/landesgartenschau-2023/img/' | append: '.jpg' | relative_url }}" class="img-responsive img-cover" alt="">
            <span class="text-muted">
            </span>
            <div>
            {% for date in item.dates %}
              <div class="event-infos">
                <a href="{{ date.href }}">
                  <div class="event-info">
                    <i class="fa fa-calendar-o"></i>
                    <time class="date" itemprop="startDate" datetime="{{ date.date }}">{{ date.date | date: "%-d. %-m. %Y %H:%M" }}</time>
                    <span class="venue" itemprop="location">{{ date.location }}</span>
                  </div>
                </a>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
