.home-cover {
  text-align: center;
  background-image: url(/images/cover-green_medium.png), linear-gradient(to bottom, rgba(0,0,0,.3), transparent 33%), radial-gradient(#FFF, #AAA);
  background-size: contain;
}

@media(min-width:768px) {
  .home-cover .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
}
