.portfolio-item {
  right: 0;
  margin: 0 0 .85rem;

  .portfolio-link {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 23rem;
    max-height: 13.5rem;
    overflow: hidden;
  }

  .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(254,209,54,.9);
    background: fade_out(color(primary), .1);
    z-index: 5 !important;

    &:hover {
      opacity: 1;
    }

    .portfolio-hover-content {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1.15rem;
      margin-top: -.7rem;
      text-align: center;
      font-size: 1.15rem;
      color: #fff;

      i {
        margin-top: -.7rem;
      }
      h3,
      h4 {
        margin: 0;
      }
    }
  }

  .portfolio-caption {
    margin: 0 auto;
    padding: 1.44rem;
    max-width: 23rem;
    text-align: center;
    background-color: #fff;
  }

  .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
  }

  .portfolio-caption p {
    margin: 0;
    font-family: $serifFont;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-top: .3em;
  }

  > img {
    margin: 0 auto;
    max-width: 23rem;
  }
}

#projekte * {
  z-index: 2;
}

@media(min-width:767px) {
  .portfolio-item {
    margin: 0 0 1.7rem;
  }
}
