.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.3rem;
  width: 2px;
  margin-left: -1.5px;
  background-color: #f1f1f1;
}

.timeline>li {
  position: relative;
  margin-bottom: 2.9rem;
  min-height: 2.9rem;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 1.15rem 0 5.8rem;
  text-align: left;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -.85rem;
  border-right-width: .85rem;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -.85rem;
  border-right-width: .85rem;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 4.6rem;
  height: 4.6rem;
  margin-left: 0;
  border: .42rem solid #f1f1f1;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: color(primary);
  > img {
    transform: scale(1.01); // fix border pixels
  }
}

.timeline>li .timeline-image h4 {
  margin-top: .7rem;
  font-size: .6rem;
  line-height: .85rem;
  color: color(dance-snow);
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 1.15rem 0 5.8rem;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -.85rem;
  border-right-width: .85rem;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -.85rem;
  border-right-width: .85rem;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0;
}

@media(min-width:768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline>li {
    margin-bottom: 5.8rem;
    min-height: 5.8rem;
  }

  .timeline>li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 1.15rem 1.15rem 1.7rem;
    text-align: right;
  }

  .timeline>li .timeline-image {
    left: 50%;
    width: 5.8rem;
    height: 5.8rem;
    margin-left: -2.9rem;
  }

  .timeline>li .timeline-image h4 {
    margin-top: .9rem;
    font-size: .75rem;
    line-height: 1.4;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 1.7rem 1.15rem 1.15rem;
    text-align: left;
  }
}

@media(min-width:992px) {
  .timeline>li {
    min-height: 8.6rem;
  }

  .timeline>li .timeline-panel {
    padding: 0 1.15rem 1.15rem;
  }

  .timeline>li .timeline-image {
    width: 8.6rem;
    height: 8.6rem;
    margin-left: -4.3rem;
  }

  .timeline>li .timeline-image h4 {
    margin-top: 1.7rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 1.15rem 1.15rem;
  }
}

@media(min-width:1200px) {
  .timeline>li {
    min-height: 9.8rem;
  }

  .timeline>li .timeline-panel {
    padding: 0 1.15rem 1.15rem 5.8rem;
  }

  .timeline>li .timeline-image {
    width: 9.8rem;
    height: 9.8rem;
    margin-left: -4.9rem;
  }

  .timeline>li .timeline-image h4 {
    margin-top: 2.3rem;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 5.8rem 1.15rem 1.15rem;
  }
}
